<div class="my-3">
    <h3 class="text-center">Add a Todo</h3>
    <form (ngSubmit)="onSubmit()"> 
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title</label>
          <input type="text" class="form-control"[(ngModel)]="title" id="title" name="title">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="text" class="form-control"[(ngModel)]="desc" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Add Todo</button>
      </form>
</div>